<div class="inner-content returns">
    <i style="display:block;">
    Wrong size? Wrong color? Not completely satisfied with your purchase? <br/>
    Not a problem! Initiating a request for return is easy!
    </i>
    <br />
    <h3>Our Returns Policy - In A Nutshell</h3>
    <p>We guarantee our customers that we deliver good quality products. Each item is inspected by our team before it is shipped out to our customers. If for any reason, there is an issue with your recent purchase, please do not hesitate to <a href="/pages/customer-care">contact us</a>.</p>
    <ul>
        <li>Items that do not meet your satisfaction are accepted for returns or exchanges - <i>No questions asked!</i></li>
        <li>A <a href="/pages/return-ticket">Return Ticket</a> must be submitted within 2 days of receipt of package.</li>
        <li>Items must be shipped back to our address within 3 days of submission of Return Ticket.</li>
        <li>Items must be in their original condition.</li>
        <li>Items must be unworn, unwashed with tags and labels still intact.</li>
        <li>For hygienic reasons - intimates, bodysuits, swimwear and beauty products may not be accepted for returns or exchanges.</li>
        <li>Damaged items due to broken zipper, hook, fastening, buttons, etc. are not eligible for return.</li>
        <li>If you return an item that is not eligible for return, you are responsible for the cost of shipping it back to you.</li>
        <li>Shipping fees are nonrefundable.</li>
        <li>Costs and responsibilities associated with returning an item ( i.e. Shipping ) shall be assumed by you, except only if the items you received are (i) damaged upon arrival or (ii) different from the ones you ordered.</li>
        <li>Refunds are made to you in form of Store Credit or Paypal Refund<span style="color: #ff0000;">*</span>, free of charge.</li>
        <li>Exchange requests are currently not available. You may purchase your desired item for exchange using the Store Credits issued to you instead.</li>
    </ul>
    <i style="display:block;">
        <span style="color: #ff0000;">*</span> Paypal Refund is available only if original payment method used was Paypal. <br/>
        <span style="color: #ff0000;">**</span> With the exception of items falling under the categories of intimates, swimwear and beauty products - solely for reasons of hygiene - returns and exchanges may not be accepted. We appreciate your understanding on this issue.
    </i>
    <br/>
    <h3>What are Store Credits?</h3>
    <ul>
        <li>
            Store Credits are as good as cash and may be spent when making purchases at www.shopcopper.com.
        </li>
        <li>
            Store Credits are provided in Philippine Peso, in the form of Coupon Code.
        </li>
        <li>
            Store Credits never expire.
        </li>
        <li>
            Store Credits are not convertible to real cash.
        </li>
        <li>
            Store Credits are non-transferable.
        </li>
        <li>
            Store Credits are single-use only and must be consumed fully when making purchases.
        </li>
        <li>
            Store Credits may not be used together with any other promotional coupon code.
        </li>
        <li>
            By using store credits, you agree to our <a href="/pages/terms-of-service">Terms of Service</a>.
        </li>
    </ul>
    <h3>What are My Return Options?</h3>
    <p>When returning an item, you may choose any of the following options:</p>
    <br />
    <i style="display: block;"><strong>Return and Refund - Store Credits (free of charge)</strong></i>
    <br/>
    <p>Refund via Store Credits is free of charge; Original shipping fees are nonrefundable. To process Return and Refund - Store Credits, simply follow the steps below:</p>
    <br/>
    <ol>
        <li>Submit a Return Ticket. Please wait for an email confirming your request within 48 hours.</li>
        <li>Ship the item back to our Returns Address within 3 days of submission of return ticket.</li>
        <li>You will receive a notification via email as soon as your Return package has been processed. Processing takes 14 business days upon receipt of your package.</li>
        <li>Store Credits will be made to you in the form of Coupon Code equivalent to the amount refunded to you.</li>
        <li>Use your Store Credits for future purchases at www.shopcopper.com.</li>
    </ol>
    <br/>
        <i style="display: block;"><strong>Return and Refund - Paypal (free of charge; valid only if original payment method used was Paypal)</strong></i>
    <br/>
    <p>Refund via Paypal is free of charge and valid only if original payment method used was Paypal. Original Shipping fees are nonrefundable. To process Return and Refund - Paypal, please follow the steps below:</p>
    <br/>
    <ol>
        <li>Submit a Return Ticket. Please wait for an email confirming your request within 48 hours of submission.</li>
        <li>Ship the item back to our Returns Address within 3 days of submission of return ticket.</li>
        <li>You will receive a notification via email as soon as your Return package has been processed. Processing takes 14 business days upon receipt of your package.</li>
        <li>Refund will be made to your Paypal Account.</li>
    </ol>
</div>