<div class="inner-content shipping">
    <h1><span><span style="color: #ea9999; font-size: 20px;"><strong>XEND</strong></span></h1>
    <p>Free Shipping on Orders Php 1,500 and above.</p>
    <table>
        <thead>
            <tr>
                <td><span style="font-size: 14px;"><strong>Service</strong></td>
                <td><span style="font-size: 14px;"><strong>Shipping Fee <span style="color: #ff0000;">*</span></strong></td>
                <td><span style="font-size: 14px;"><strong>Delivery Period</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span style="font-size: 14px;">XEND: Metro Manila</td>
                <td><span style="font-size: 14px;">Php 79</td>
                <td><span style="font-size: 14px;">1-3 days <span style="color: #ff0000;">**</span></td>                                
            </tr>
            <tr>
                <td><span style="font-size: 14px;">XEND: Provincial (including Rizal and Cavite)</td>
                <td><span style="font-size: 14px;">Php 119</td>
                <td><span style="font-size: 14px;">2-7 days <span style="color: #ff0000;">**</span></td>                                
            </tr>
        </tbody>
    </table>
    <i style="display:block;">
    <span style="color: #ff0000;">**</span> Published rates are inclusive of fulfillment and handling fees.<br/>
    <span style="color: #ff0000;">***</span> Please note that counting begins after ship out date. Delivery periods are not guaranteed and exclude Sundays and Holidays.<br/>
    </i>
    <br/>
<div class="accordion-container">
  <ul class="accordion-menu">
<li class="closed">
<header onclick="toggle(this.parentNode)"<span class="title"><span>SHIPMENT SCHEDULE (XEND)</span></span>
     </header>
     <section class="content">
      <p>After payment verification (within 24-48 hours), packages are shipped out daily except on Sundays and Holidays.Additional 1-2 delivery days for islands and other remote areas may be expected.</p>
    <div class="accordion-container">
        <ul class="accordion-menu">
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                  <span style="color: #000000;">If your order was shipped on a Monday</span></span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Metro Manila shipments (1-3 business days):</strong></td>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Provincial shipments (2-7 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tuesday / Wednesday / Thursday</td>
                                <td>Wednesday / Thursday / Friday / Saturday / Monday / Tuesday</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                  <span style="color: #000000;">If your order was shipped on a Tuesday</span></span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Metro Manila shipments (1-3 business days):</strong></td>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Provincial shipments (2-7 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Wednesday / Thursday / Friday</td>
                                <td>Thursday / Friday / Saturday / Monday / Tuesday / Wednesday</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li> 
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                  <span style="color: #000000;">If your order was shipped on a Wednesday</span></span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Metro Manila shipments (1-3 business days):</strong></td>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Provincial shipments (2-7 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Thursday / Friday / Saturday</td>
                                <td>Friday / Saturday / Monday / Tuesday / Wednesday / Thursday</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li> 
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                  <span style="color: #000000;"> If your order was shipped on a Thursday</span></span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Metro Manila shipments (1-3 business days):</strong></td>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Provincial shipments (2-7 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Friday / Saturday / Monday</td>
                                <td>Saturday / Monday / Tuesday / Wednesday / Thursday / Friday</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                  <span style="color: #000000;"> If your order was shipped on a Friday</span></span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Metro Manila shipments (1-3 business days):</strong></td>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Provincial shipments (2-7 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Saturday / Monday / Tuesday</td>
                                <td>Monday / Tuesday / Wednesday / Thursday / Friday / Saturday</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                  <span style="color: #000000;"> If your order was shipped on a Saturday</span></span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Metro Manila shipments (1-3 business days):</strong></td>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Provincial shipments (2-7 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Monday / Tuesday / Wednesday</td>
                                <td>Tuesday / Wednesday / Thursday / Friday / Saturday</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                  <span style="color: #000000;"> If your order was shipped on a Sunday</span></span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Metro Manila shipments (1-3 business days):</strong></td>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Provincial shipments (2-7 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>No Shipping</td>
                                <td>No Shipping</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li>                                                                                                                                   
        </ul>
    </div>
</section>
</li>
</ul>
</div>
    <div class="accordion-container">
  <ul class="accordion-menu">
<li class="closed">
<header onclick="toggle(this.parentNode)"<span class="title"><span>TRACKING (XEND)</span></span>
     </header>
     <section class="content">
      <p>Tracking information is encoded from the time your package reaches Xend's warehouse. This may take up to 24 hours from the date of ship out. To track your package, simply go to their website: <a href="http://new.xend.com.ph/">http://new.xend.com.ph/</a> and input the tracking code provided to you via email. <br><br>You may also reach <strong>Xend</strong> through any of the following channels:
    </p>
    <p>
       <br><strong>Tel no:</strong> 660-XEND (660-9363)<br />
        <strong>Email:</strong> info@xend.com.ph<br />
    </p>
    <p>
      <br>Order status may also be viewed after <a href="/account/login">logging in to your account</a>. Should you need assistance in tracking your package, please do not hesitate to <a href="/pages/customer-care">contact us</a>.</p>
    </section>
</li>
</ul>
</div>
    </p>
    <br />
      <h1><span><span style="color: #ea9999; font-size: 20px;"><strong>LBC</strong></span></h1>
    <table>
        <thead>
            <tr>
                <td><span style="font-size: 14px;"><strong>Service</strong></td>
                <td><span style="font-size: 14px;"><strong>Shipping Fee <span style="color: #ff0000;">*</span></strong></td>
                <td><span style="font-size: 14px;"><strong>Delivery Period</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span style="font-size: 14px;">LBC: Metro Manila</td>
                <td><span style="font-size: 14px;">Php 160</td>
                <td><span style="font-size: 14px;">1-2 days <span style="color: #ff0000;">**</span></td>                                
            </tr>
            <tr>
                <td><span style="font-size: 14px;">LBC: Provincial (including Rizal and Cavite)</td>
                <td><span style="font-size: 14px;">Php 195</td>
                <td><span style="font-size: 14px;">2-3 days <span style="color: #ff0000;">**</span></td>                                
            </tr>
        </tbody>
    </table>
    <i style="display:block;">
    <span style="color: #ff0000;">*</span> Published rates are inclusive of fulfillment and handling fees.<br/>
    <span style="color: #ff0000;">**</span> Please note that counting begins after ship out date. Delivery periods are not guaranteed and exclude Sundays and Holidays.Additional 1-2 delivery days for islands and other remote areas may be expected.<br/>
    </i>
    <br/>
<div class="accordion-container">
  <ul class="accordion-menu">
<li class="closed">
<header onclick="toggle(this.parentNode)"<span class="title"><span>SHIPMENT SCHEDULE (LBC)</span></span>
     </header>
     <section class="content">
      <p>After payment verification (within 24-48 hours), packages are shipped out daily except on Sundays and Holidays.Additional 1-2 delivery days for islands and other remote areas may be expected.</p>
    <div class="accordion-container">
        <ul class="accordion-menu">
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                  <span style="color: #000000;">If your order was shipped on a Monday</span></span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Metro Manila shipments (1-2 business days):</strong></td>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Provincial shipments (2-3 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tuesday / Wednesday</td>
                                <td>Wednesday / Thursday </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                  <span style="color: #000000;">If your order was shipped on a Tuesday</span></span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Metro Manila shipments (1-2 business days):</strong></td>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Provincial shipments (2-3 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Wednesday / Thursday </td>
                                <td>Thursday / Friday</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li> 
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                  <span style="color: #000000;">If your order was shipped on a Wednesday</span></span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Metro Manila shipments (1-2 business days):</strong></td>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Provincial shipments (2-3 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Thursday / Friday </td>
                                <td>Friday / Saturday</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li> 
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                  <span style="color: #000000;"> If your order was shipped on a Thursday</span></span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Metro Manila shipments (1-2 business days):</strong></td>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Provincial shipments (2-3 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Friday / Saturday</td>
                                <td>Saturday / Monday</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                  <span style="color: #000000;"> If your order was shipped on a Friday</span></span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Metro Manila shipments (1-2 business days):</strong></td>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Provincial shipments (2-3 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Saturday / Monday </td>
                                <td>Monday / Tuesday </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                  <span style="color: #000000;"> If your order was shipped on a Saturday</span></span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Metro Manila shipments (1-2 business days):</strong></td>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Provincial shipments (2-3 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Monday / Tuesday </td>
                                <td>Tuesday / Wednesday </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                  <span style="color: #000000;"> If your order was shipped on a Sunday</span></span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Metro Manila shipments (1-2 business days):</strong></td>
                                <td><span style="font-size: 14px;"><strong>Estimated arrival for Provincial shipments (2-3 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>No Shipping</td>
                                <td>No Shipping</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li>                                                                                                                                   
        </ul>
    </div>
</section>
</li>
</ul>
</div>
   <div class="accordion-container">
  <ul class="accordion-menu">
<li class="closed">
<header onclick="toggle(this.parentNode)"<span class="title"><span>TRACKING (LBC)</span></span>
     </header>
     <section class="content">
      <p>Tracking information is encoded from the time your package reaches LBC's warehouse. This may take up to 24 hours from the date of ship out. To track your package, simply go to their website: <a href=https://www.lbcexpress.com/track/ >https://www.lbcexpress.com/track/ </a> and input the tracking code provided to you via email. <br><br>You may also reach <strong>LBC</strong> through any of the following channels:
    </p>
    <p>
        <br><strong>Tel no:</strong> (NCR) 858-5999 (PROVINCIAL) 1-800-10-85859993<br />       
    </p>
    <p>
       <br> Order status may also be viewed after <a href="/account/login">logging in to your account</a>. Should you need assistance in tracking your package, please do not hesitate to <a href="/pages/customer-care">contact us</a>.</p>
    </section>
</li>
</ul>
</div>
    <br />    
<h1><span><span style="color: #ea9999; font-size: 20px;"><strong>AIRSHIP EXPRESS (CASH ON DELIVERY)</strong></span></h1>
    <table>
        <thead>
            <tr>
                <td><span style="font-size: 14px;"><strong>Service</strong></td>
                <td><span style="font-size: 14px;"><strong>Shipping Fee <span style="color: #ff0000;">*</span></strong></td>
                <td><span style="font-size: 14px;"><strong>Delivery Period</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span style="font-size: 14px;">COD: Metro Manila</td>
                <td><span style="font-size: 14px;">Php 79.00</td>
                <td><span style="font-size: 14px;">1-2 days <span style="color: #ff0000;">**</span></td>                                
            </tr>
        </tbody>
    </table>
    <i style="display:block;">
    <span style="color: #ff0000;">**</span> Published rates are inclusive of fulfillment and handling fees.<br/>
    <span style="color: #ff0000;">***</span> Please note that counting begins after ship out date. Delivery periods are not guaranteed and exclude Sundays and Holidays.<br/>
    </i>
    <br/>
    <div class="accordion-container">
  <ul class="accordion-menu">
<li class="closed">
<header onclick="toggle(this.parentNode)"<span class="title"><span>SHIPMENT SCHEDULE (AIRSHIP EXPRESS)</span></span>
     </header>
     <section class="content">
      <p>After payment verification (within 24-48 hours), packages are shipped out daily except on Sundays and Holidays.</p>
    </section>
  </li>
<li class="closed">
  <header onclick="toggle(this.parentNode)"<span class="title"><span>COD REMINDERS</span></span>
    </header>
    <section class="content">
      <p>• Kindly ensure that your shipping address and contact details are complete and accurate, to avoid delays in delivery. If necessary, please include landmarks and other instructions to facilitate smooth delivery of your package.
<br><br>
• Please make sure that you are available to receive your package within the delivery time frame. In case you would not be available, you may ask a representative to receive your package and pay for your order on your behalf. 
<br><br>
• Please prepare EXACT amount as indicated on your invoice. Delivery personnel, may or may not have enough change on hand at the time of delivery.</p>
</section>
  </li>
<li class="closed">
<header onclick="toggle(this.parentNode)"<span class="title"><span>MAXIMUM COD DELIVERY ATTEMPTS</span></span>
</header>
    <section class="content">
      <p>Our delivery agents will only attempt to deliver your package up to three (3) times. Further failed delivery attempts due to the following reasons, will cause your order to be cancelled and your account to be restricted from using CASH ON DELIVERY as your payment method for your future orders: 
<br><br>
• Incomplete / inaccurate shipping address and contact details<br>
• Customer or representative is not available to receive package<br>
• Unable to contact consignee<br>
• Customer refuses to receive package<br>
• Customer requests redelivery at a later date<br>
• Customer requests redelivery to a new address</p>
    </section>
  </li>
<li class="closed">
<header onclick="toggle(this.parentNode)"<span class="title"><span>LIFTING OF ACCOUNT RESTRICTIONS</span></span>
</header>
    <section class="content">
      <p>In order to lift Cash On Delivery restriction on your account - cancellation fee of Php 120 must be settled through other modes of payment first. <br><br>Requests for re-delivery of previous failed deliveries will also incur reshipping fees.</p>
</section>
</li>
</ul>
</div>
    <br />
    <h1><span><span style="color: #ea9999; font-size: 20px;"><strong>NEED IT ASAP? RUSH SHIP IT!</strong></span></h1>
      <p>Have your orders picked up from our location - and delivered to your address on the same day via <strong>GrabExpress, NinjaVan, Lalamove</strong> or any courier of your choice!
      </p>
    <div class="accordion-container">
  <ul class="accordion-menu">
<li class="closed">
<header onclick="toggle(this.parentNode)"<span class="title"><span>RUSH SHIPPING PERKS</span></span>
     </header>
     <section class="content">
       <p>
• Rush order processing and order fulfillment (6-24 hours versus Standard Processing time of 24-48 hours) <br><br>
• Rush payment verification (6-24 hours versus Standard Processing time of 24-48 hours)<br><br>
• Extended pick up schedule:<br /> Monday - Saturday, 9AM - 9PM<br /> and even on Sundays! - 1PM - 8PM<br><br>
      </section>
  </li>
<li class="closed">
  <header onclick="toggle(this.parentNode)"<span class="title"><span>RUSH SHIPPING REMINDERS</span></span>
     </header>
       <section class="content">
       <p>
• Rush processing option is NOT available for orders paid thru Paypal.<br><br>
• Rush processing may be found as add-on option, upon submission of your proof of payment thru the <a href="http://i.shopcopper.com/pages/confirm-payment"><strong>Confirm Payment Form</strong></a><br><br>
• If you paid XEND or LBC SHIPPING FEE for your order - Php 79 will be converted as payment for handling fee. Any amount in excess of Php 79 will be refunded to you thru Store Credit.</span><br><br>
• Booking will be done by customer. Any shipping cost determined at the time of booking and will be the responsibility of the customer.</span><br><br>
• Full pick-up instructions and details will be sent via email once payment has been verified. Please wait for our email before booking pick up service with your courier.</span>
      </section>         
</li>
</ul>
</div>
    <br />
         <h1><span><span style="color: #ea9999; font-size: 20px;"><strong>INTERNATIONAL SHIPPING</strong></span></h1>
    <p>It's a bummer - we can't ship internationally yet! Hopefully we'll be able to offer this soon!</p>
</div>