<div class="inner-content payments">
    <p>Choose any of our payment options found below. Reservation is valid until <a href="/pages/reservation-period">2 business days</a> from placement of order. 
        <br/>
        <br/>
        Please settle your payment within this period to avoid automatic cancellation of your reservation. Pay exact amount indicated on your invoice as over-payments will automatically be forfeited. <u>Non-payment of orders may limit you from placing an order in the future.</u>
        <br/>
        <br/>
        <strong>Be sure to submit your proof of payment via the Confirm Payment Form <a href="pages/confirm-payment">click here</a>.</strong> Kindly disregard if payment is Paypal (Credit/Debit), COD, Pick-up and Pay.
        <br/>
        <br/>
        If you need assistance, please do not hesitate to contact us at <a href="mailto:hello@shopcopper.com">hello@shopcopper.com</a>
    </p>

    <div class="accordion-container">
        <ul class="accordion-menu">
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                BDO Cash Deposit / Online Fund Transfer</span></span>
                </header>
                <section class="content">
                    <ol>
                        <li>
                            <p>Go to your preferred BDO Branch, fill out a Cash Deposit Slip with our Account Details:</p>
                            <strong>
                                BDO Peso Savings Account <br/>
                                Account Name: Marmie Joy M. Diaz<br/>
                                Account #: 001470059256
                            </strong>
                            <span class="small-note"><i><sup>*</sup>Kindly deposit the exact amount as reflected on your invoice. </i></span>
                        </li>
                        <li>
                            <p>
                                Hand the teller your Cash Deposit Slip together with your payment. Please note that BDO Branches outside of Metro Manila may charge a service fee. Please keep the transaction slip with you for record purposes.
                            </p>
                        </li>
                        <li>
                            <p>
                                For Online Fund Transfer you may use the same bank details as above.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Important:</strong> After completing your payment, be sure to fill out the <strong>Confirm Payment Form <a href="/pages/confirm-payment">(click here)</a></strong> so we can begin processing your order. 
                            </p>
                        </li>
                    </ol>
                </section>
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                BPI Cash Deposit / Online Fund Transfer</span></span>
                </header>
                <section class="content">
                    <ol>
                        <li>
                            <p>Go to your preferred BPI Branch, fill out a Cash Deposit Slip with our Account Details:</p>
                            <strong>
                                BPI Peso Savings Account <br/>
                                Account Name: Marmie Joy M. Diaz<br/>
                                Account #: 8259163766
                            </strong>
                            <span class="small-note"><i><sup>*</sup>Kindly deposit the exact amount as reflected on your invoice. </i></span>
                        </li>
                        <li>
                            <p>
                                Hand the teller your Cash Deposit Slip together with your payment. Please keep the transaction slip with you for record purposes.
                            </p>
                        </li>
                        <li>
                            <p>
                                For Online Fund Transfer you may use the same bank details as above.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Important:</strong> After completing your payment, be sure to fill out the <strong>Confirm Payment Form <a href="/pages/confirm-payment">(click here)</a></strong> so we can begin processing your order. 
                            </p>
                        </li>
                    </ol>
                </section>
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                Metrobank Cash Deposit / Online Fund Transfer</span></span>
                </header>
                <section class="content">
                    <ol>
                        <li>
                            <p>Go to your preferred Metrobank Branch, fill out a Cash Deposit Slip with our Account Details:</p>
                            <strong>
                                Metrobank Peso Savings Account<br/>
                                Account Name: Allan Jay R. Baluyot<br/>
                                Account #: 034-3-03436723-0
                            </strong>
                            <span class="small-note"><i><sup>*</sup>Kindly deposit the exact amount as reflected on your invoice. </i></span>
                        </li>
                        <li>
                            <p>
                                Hand the teller your Cash Deposit Slip together with your payment. Please note that that Metrobank may charge a service fee for cash deposits. Please keep the transaction slip with you for record purposes.
                            </p>
                        </li>
                        <li>
                            <p>
                                For Online Fund Transfer you may use the same bank details as above.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Important:</strong> After completing your payment, be sure to fill out the <strong>Confirm Payment Form <a href="/pages/confirm-payment">(click here)</a></strong> so we can begin processing your order. 
                            </p>
                        </li>
                    </ol>
                </section>
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                UnionBank Cash Deposit / Online Fund Transfer</span></span>
                </header>
                <section class="content">
                    <ol>
                        <li>
                            <p>Go to your preferred UnionBank of the Philippines Branch, fill out a Cash Deposit Slip with our Account Details:</p>
                            <strong>
                                UnionBank Peso Savings Account<br/>
                                Account Name: Allan Jay R. Baluyot<br/>
                                Account #: 109452356908
                            </strong>
                            <span class="small-note"><i><sup>*</sup>Kindly deposit the exact amount as reflected on your invoice. </i></span>
                        </li>
                        <li>
                            <p>
                                Hand the teller your Cash Deposit Slip together with your payment. Please keep the transaction slip with you for record purposes.
                            </p>
                        </li>
                        <li>
                            <p>
                                For Online Fund Transfer you may use the same bank details as above.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Important:</strong> After completing your payment, be sure to fill out the <strong>Confirm Payment Form <a href="/pages/confirm-payment">(click here)</a></strong> so we can begin processing your order. 
                            </p>
                        </li>
                    </ol>
                </section>
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                Cebuana Lhuillier - Remit To Account<br />(May Not Be Available In Some Areas)</span></span>
                </header>
                <section class="content">
                    <p class="red-note"><strong>(Only Remit To Account will be accepted, unfortunately, Pera Padala or any other type of remittance will not be processed.)</strong></p>
                    <ol>
                        <li>
                            <p>Go to your preferred Cebuana Lhuillier Branch and copy any of the following bank account details to your Cebuana Lhuillier REMIT TO ACCOUNT Form:</p>
                            <strong>
                                Bank Name: Metrobank <br/>
                                Bank Account Name: Allan Jay R. Baluyot <br/>
                                Bank Account Number: 034-3-03436723-0 <br/>
                                Amount: (Kindly send the exact amount as reflected on your invoice.) <br/>
                                <br/>
                                Or
                                <br/>
                                <br/>
                                Bank Name: Security Bank <br/>
                                Bank Account Name: Allan Jay R. Baluyot <br/>
                                Bank Account Number: 0322 561 302 001 <br/>
                                Amount: (Kindly send the exact amount as reflected on your invoice.)
                            </strong>
                            <span class="small-note"><i><sup>*</sup>Please make sure to present a Valid ID.</i></span>
                        </li>
                        <li>
                            <p>
                                Hand the teller your Remit To Account Form together with your payment. Please note that Cebuana Lhuillier charges a Convenience Fee for every transaction. Keep the transaction slip with you for record purposes.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Important:</strong> After completing your payment, be sure to fill out the <strong>Confirm Payment Form <a href="/pages/confirm-payment">(click here)</a></strong> so we can begin processing your order. 
                            </p>
                        </li>
                    </ol>
                </section>
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                Paypal</span></span>
                </header>
                <section class="content">
                        
                    <p>If you have an existing Paypal account, you may also choose to settle your payment using your Paypal Balance, or any credit or debit card linked to your account.<br />
                        <br />
                        During checkout, simply choose Paypal as your payment option. You will be redirected to Paypal website wherein you will need to log-in to your account. After logging in, choose your source of payment and click "Pay"<br />
                        <br />
                        Your package will begin shipping a day after your Paypal payment has been cleared.<br />
                        <br />
                        Please note all Paypal orders are considered final and may no longer be changed.
                    </p>
                </section>
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                Credit Card or Debit Card Payment<br />
                 - VISA / Mastercard and other major cards</span></span>
                </header>
                <section class="content">
                        
                    <p>If you prefer to settle your payment online, you may use your credit card or debit card via Paypal.<br />
                        <br />
                        Online payments are much faster and convenient. During checkout, simply choose Paypal as your payment option. You will be redirected to Paypal's secure website. Click on "Pay using credit or debit card" and begin to input your card details.<br />
                        <br />
                        There is no need to sign up for a Paypal Account as this is optional.<br />
                        <br />
                        Your package will begin shipping a day after your Paypal payment has been cleared.<br />
                        <br />
                        Please note all Paypal orders are considered final and may no longer be changed.<br />
                    </p>
                </section>
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                Cash On Delivery - Metro Manila</span></span>
                </header>
                <section class="content">
                    <p>Serviceable Areas for Cash On Delivery: Metro Manila. <br /><br /> Our courier will be collecting your cash payment upon delivery. Kindly prepare the exact amount as reflected on your invoice. <br /> You may view full COD details on this page: <strong><a href="https://shopcopper.com/pages/shipping" title="https://shopcopper.com/pages/shipping">SHIPPING METHOD - COD</a></strong><br /><br /><b>Please note all COD orders are considered final and may not be changed.</b></p>
                </section>
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                Pick-up And Pay - COPPER BF Homes</span></span>
                </header>
                <section class="content">
                        
                    <p>If you live near COPPER BF Homes, you may choose to place your order online, and settle payment upon pick-up.<br />
                        <br />
                        After placing your order online, you will receive an Email / SMS once your package is ready for pick-up. This may take up to 2 days depending on the time when your order was placed.<br />
                        <br />
                        <sup>**</sup>Disregard shipping fee for this payment option. Fee will be manually deducted upon pick-up. Please note that we are not able to accept card payments for in-store purchases/pick-up and pay.<br />
                        <br />
                        <strong>COPPER - BF Homes</strong> is at:
                        <a href="https://plus.google.com/109056593064563912917/about?hl=en" style="display:block;">Stall 81, Good Shepherd Market (Ruins), BF Homes, Paranaque.</a>
                        <br/>
                        <strong>Store Hours:</strong>
                        Monday to Sunday - 4:00pm to 11:00pm.
                    </p>
                </section>
            </li>                                                                                      
        </ul>
    </div>   
</div>