<div class="inner-content shipping">
    <h3>Philippines - Nationwide Delivery (Standard Shipping Via Xend)</h3>
    <p>Free Shipping on Orders Php 1,500 and above.<span style="color: #ff0000;">*</span></p>
    <br />
    <table>
        <thead>
            <tr>
                <td>Service</td>
                <td>Shipping Fee <span style="color: #ff0000;">**</span></td>
                <td>Delivery Period</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>XEND: Metro Manila</td>
                <td>Php 69.00</td>
                <td>1-3 days <span style="color: #ff0000;">***</span></td>                                
            </tr>
        </tbody>
    </table>
</div>