<div class="inner-content shipping">
    <h3>Philippines - Nationwide Delivery (Standard Shipping Via Xend)</h3>
    <p>Free Shipping on Orders Php 1,500 and above.<span style="color: #ff0000;">*</span></p>
    <table>
        <thead>
            <tr>
                <td><strong>Service</strong></td>
                <td><strong>Shipping Fee <span style="color: #ff0000;">**</span></strong></td>
                <td><strong>Delivery Period</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>XEND: Metro Manila</td>
                <td>Php 69.00</td>
                <td>1-3 days <span style="color: #ff0000;">***</span></td>                                
            </tr>
            <tr>
                <td>XEND: Provincial (including Rizal and Cavite)</td>
                <td>Php 119.00</td>
                <td>2-7 days <span style="color: #ff0000;">***</span></td>                                
            </tr>
        </tbody>
    </table>
    <i style="display:block;">
    <span style="color: #ff0000;">*</span> Valid for domestic shipping via <a href="http://new.xend.com.ph/">Xend</a>.<br/>
    <span style="color: #ff0000;">**</span> Published rates are inclusive of fulfillment and handling fees.<br/>
    <span style="color: #ff0000;">***</span> Please note that counting begins after ship out date. Delivery periods are not guaranteed and exclude Sundays and Holidays.<br/>
    </i>
    <br/>
    <h3>Shipment Schedule Via Xend</h3>
    <p>After payment verification (within 24-48 hours), packages are shipped out daily except on Sundays and Holidays.</p>
    <div class="accordion-container">
        <ul class="accordion-menu">
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                If your order was shipped on a Monday</span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><strong>Estimated arrival for Metro Manila shipments (1-3 business days):</strong></td>
                                <td><strong>Estimated arrival for Provincial shipments (2-7 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tuesday / Wednesday / Thursday</td>
                                <td>Wednesday / Thursday / Friday / Saturday / Monday / Tuesday</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                If your order was shipped on a Tuesday</span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><strong>Estimated arrival for Metro Manila shipments (1-3 business days):</strong></td>
                                <td><strong>Estimated arrival for Provincial shipments (2-7 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Wednesday / Thursday / Friday</td>
                                <td>Thursday / Friday / Saturday / Monday / Tuesday / Wednesday</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li> 
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                If your order was shipped on a Wednesday</span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><strong>Estimated arrival for Metro Manila shipments (1-3 business days):</strong></td>
                                <td><strong>Estimated arrival for Provincial shipments (2-7 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Thursday / Friday / Saturday</td>
                                <td>Friday / Saturday / Monday / Tuesday / Wednesday / Thursday</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li> 
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                If your order was shipped on a Thursday</span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><strong>Estimated arrival for Metro Manila shipments (1-3 business days):</strong></td>
                                <td><strong>Estimated arrival for Provincial shipments (2-7 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Friday / Saturday / Monday</td>
                                <td>Saturday / Monday / Tuesday / Wednesday / Thursday / Friday</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                If your order was shipped on a Friday</span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><strong>Estimated arrival for Metro Manila shipments (1-3 business days):</strong></td>
                                <td><strong>Estimated arrival for Provincial shipments (2-7 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Saturday / Monday / Tuesday</td>
                                <td>Monday / Tuesday / Wednesday / Thursday / Friday / Saturday</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                If your order was shipped on a Saturday</span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><strong>Estimated arrival for Metro Manila shipments (1-3 business days):</strong></td>
                                <td><strong>Estimated arrival for Provincial shipments (2-7 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Monday / Tuesday / Wednesday</td>
                                <td>Tuesday / Wednesday / Thursday / Friday / Saturday</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li>
            <li class="closed">
                <header onclick="toggle(this.parentNode)">
                <span class="title"><span>
                If your order was shipped on a Sunday</span></span>
                </header>
                <section class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><strong>Estimated arrival for Metro Manila shipments (1-3 business days):</strong></td>
                                <td><strong>Estimated arrival for Provincial shipments (2-7 business days):</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>No Shipping</td>
                                <td>No Shipping</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </li>                                                                                                                                   
        </ul>
    </div>
    <br />
    <h3>Courier</h3>
    <p>All domestic shipments are handled by Xend courier. <span style="color: #ff0000;">**</span><br/>
    <span style="color: #ff0000;">**</span> Provincial packages are forwarded to Xend's provincial shipping partners.
    </p>
    <br />
    <h3>Tracking</h3>
    <p>Tracking information is encoded from the time your package reaches Xend's warehouse. This may take up to 24 hours from the date of ship out. To track your package, simply go to their website: <a href="http://new.xend.com.ph/">http://new.xend.com.ph/</a> and input the tracking code provided to you via email. You may also reach <strong>Xend</strong> through any of the following channels:
    </p>
    <p>
        <strong>Tel no:</strong> 660-XEND (660-9363)<br />
        <strong>Email:</strong> info@xend.com.ph<br />
    </p>
    <p>
        Order status may also be viewed after <a href="/account/login">logging in to your account</a>. Should you need assistance in tracking your package, please do not hesitate to <a href="/pages/customer-care">contact us</a>.
    </p>
    <br />
    <h3>Philippines - Express Shipping Via GrabExpress / Any Courier Of Your Choice</h3>
    <p>
        Handling fee is waived for all orders Php 1,500 and above
    </p>
    <table>
        <thead>
            <tr>
                <td><strong>Service</strong></td>
                <td><strong>Handling Fee</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>GRABEXPRESS / LALAMOVE / ANY COURIER OF YOUR CHOICE <span style="color: #ff0000;">*</span><br />
                Orders Below Php 1,500</td>
                <td>Php69</td>
            </tr>
        </tbody>
    </table>
     <p>
    <span style="color: #ff0000;">*</span> Handling fee is collected as payment for expedited payment verification and order processing. <u>Booking will be done by customer. Shipping fee will be shouldered by customer</u>.
    </p>
    <br />
    <h3>Shipment Schedule Via GrabExpress / Any Courier Of Your Choice</h3>
    <p>After payment verification (within 24-48 hours), full pick-up instructions (pick-up location: Paranaque City, Metro Manila) will be sent via email. Any shipping costs will be shouldered by the buyer.
    </p>
    <br />
    <h3>International Shipping</h3>
    <p>Currently not available.</p>
</div>