
<div class="accordion-container">
    <ul class="accordion-menu">
        <li class="closed">
            <header onclick="toggle(this.parentNode)">
            <span class="title"><span color="#000000" style="color: #000000;">
            Payment Methods</span></span>
            </header>
            <section class="content">
                {% include 'more-details--payment-methods' %}
            </section>
        </li>
        <li class="closed">
            <header onclick="toggle(this.parentNode)">
            <span class="title">
                <span color="#000000" style="color: #000000;">
                    Shipping
                </span>
            </span>
            </header>
            <section class="content">
                {% include 'more-details--shipping' %}
            </section>
        </li>
        <li class="closed">
            <header onclick="toggle(this.parentNode)">
            <span class="title">
                <span color="#000000" style="color: #000000;">
                    Returns
                </span>
            </span>
            </header>
            <section class="content">
                {% include 'more-details--returns' %}
            </section>
        </li>        
    </ul>
</div>