
<div class="accordion-container">
    <ul class="accordion-menu">
        <li class="closed">
            <header onclick="toggle(this.parentNode)">
            <span class="title"><span color="#000000" style="color: #000000;">
            Payment Methods</span></span>
            </header>
            <section class="content">
                {% include 'more-details--payment-methods' %}
            </section>
        </li>
        <li class="closed">
            <header onclick="toggle(this.parentNode)">
            <span class="title">
                <span color="#000000" style="color: #000000;">
                    Shipping
                </span>
            </span>
            </header>
            <section class="content">
                <p>Totally! All online payments are processed via Paypal website which uses industry-leading technology to keep your information safe. Your data are automatically encrypted using the Secure Sockets Layer Protocol (SSL) with an encryption key length of 128-bits (the highest level commercially available).</p>
            </section>
        </li>
        <li class="closed">
            <header onclick="toggle(this.parentNode)">
            <span class="title">
                <span color="#000000" style="color: #000000;">
                    Returns
                </span>
            </span>
            </header>
            <section class="content">
                <p>Totally! All online payments are processed via Paypal website which uses industry-leading technology to keep your information safe. Your data are automatically encrypted using the Secure Sockets Layer Protocol (SSL) with an encryption key length of 128-bits (the highest level commercially available).</p>
            </section>
        </li>        
    </ul>
</div>

<div class="modal">
    <span>test</span>
</div>