<div class="menu">
  {% if settings.show_multiple_currencies and section.settings.header-logo-center == false %}
    <div class="currency-selector columns right-aligned">
      {% include 'snippet-currency-selector' %}
    </div>
  {% endif %}

  <div class="searchbar-container">
  <form  action="/search" method="get" role="search">
    {% if settings.search-products-only %}<input type="hidden" name="type" value="product" />{% endif %}
    <input name="q" type="text" placeholder="Search" class="search-box hint text small" />
    {% comment %}<input type="submit" value="" name="submit" aria-hidden="true" class="glyph search"  />{% endcomment %}
    <button class="search">{% include 'snippet-symbol' with 'search' %}</button>
  </form>
  {% comment %} <a href="#" aria-hidden="true" class="searchbar-close cross">
    {% include 'snippet-symbol' with 'cross' %}
  </a> {% endcomment %}
</div>

  {% if section.settings.header-account-show and shop.customer_accounts_enabled %}
    <div class="custom--sub-account-show">
      <a class="account-open" href="#">{{ 'layout.header.account_toggle_link' | t }}
        {% include 'snippet-symbol' with 'account' %}
      </a>
      <a href="#swym-wishlist" class="swym-wishlist">
        <i aria-hidden="true" focusable="false" role="presentation" class="fa fa-heart"></i>
      </a>
    </div>
    <div class="cart-container">
        {% include 'snippet-cartv2', view: 'desktop' %}
    </div>  
  {% endif %}

</div>

{% comment %} <div class="searchbar-container" style="display:inline-block;">
  <form  action="/search" method="get" role="search">
    {% if settings.search-products-only %}<input type="hidden" name="type" value="product" />{% endif %}
    <input name="q" type="text" placeholder="{{ 'layout.header.search_placeholder' | t }}" class="search-box hint text small" />
    {% comment %}<input type="submit" value="" name="submit" aria-hidden="true" class="glyph search"  />{% endcomment %}
    <button class="search">{% include 'snippet-symbol' with 'search' %}</button>
  </form>
  {% comment %} <a href="#" aria-hidden="true" class="searchbar-close cross">
    {% include 'snippet-symbol' with 'cross' %}
  </a> {% endcomment %}
</div> {% endcomment %}



