// header

//breadcrumbs and previous-next are actually part of body/main-content

header {
    .breadcrumbs {
        li {
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
    
            a {
                font-size: 1rem;
            }
        }
    }
    
    .previous-next {
        a {
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem!important;
        }
    }
}

